<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tea.markdown">

    <application>
        <activity
            android:name=".Activity.MarkdownActivity"
            android:windowSoftInputMode="stateVisible" />
    </application>
</manifest>