<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tea.iot">

    <uses-sdk android:targetSdkVersion="22" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.gizwits.opensource.appkit.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- SDK 使用权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 乐鑫配置库中使用的权限（WIFI组播） -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".GosApplication"
        android:allowBackup="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UserModule.GosUserLoginActivity"
            android:label="@string/app_name"
            android:theme="@style/My_Start" />
        <!-- 以下是框架中使用的Activity -->
        <activity android:name=".UserModule.GosRegisterUserActivity" />
        <activity android:name=".UserModule.GosForgetPasswordActivity" />
        <activity android:name=".ConfigModule.GosDeviceReadyActivity" />
        <activity android:name=".ConfigModule.GosDeviceResetActivity" />
        <activity android:name=".ConfigModule.GosChooseDeviceActivity" />
        <activity android:name=".ConfigModule.GosConfigCountdownActivity" />
        <activity android:name=".ConfigModule.GosConfigFailedActivity" />
        <activity android:name=".DeviceModule.GosDeviceListActivity" />
        <activity android:name=".UserModule.GosChangeUserPasswordActivity" />
        <activity
            android:name="zxing.CaptureActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".SettingsModule.GosSettiingsActivity" />
        <activity android:name=".SettingsModule.GosAboutActivity" />
        <activity android:name=".ConfigModule.GosCheckDeviceWorkWiFiActivity" />
        <activity android:name=".ControlModule.GosDeviceControlActivity" />
        <activity android:name=".ConfigModule.GosModeListActivity" />
        <activity android:name=".ConfigModule.GosAirlinkChooseDeviceWorkWiFiActivity" />
        <activity android:name=".ConfigModule.GosAirlinkReadyActivity" />
        <activity android:name=".ConfigModule.GosAirlinkConfigCountdownActivity" />
        <activity android:name=".UserModule.GosUserManager" />
        <activity android:name=".sharingdevice.SharedDeviceListAcitivity" />

        <activity android:name=".sharingdevice.SharedDeviceManagerActivity" />

        <activity android:name=".sharingdevice.addSharedActivity" />
        <activity android:name=".sharingdevice.twoSharedActivity" />
        <activity android:name=".sharingdevice.userSharedActivity" />
        <activity android:name=".DeviceModule.GosMainActivity" />
        <activity android:name=".sharingdevice.messageCenterActivity" />
        <activity android:name=".sharingdevice.deviceSharedMessageActivity" />
        <activity android:name=".sharingdevice.gosZxingDeviceSharingActivity" />
    </application>
</manifest>